<div class="banner">
  <div class="banner-text">
    <p>
      Hey there! I'am Ning, a passionate web developer and data science enthusiast! Proficient in HTML5, CSS3, JavaScript
      and
      <a href="https://www.r-project.org/">R</a>. I am currently diving deep
                                into the worlds of data visualisation and statical modeling.
    </p>
    <p>
      But that's not all-I've got a thrilling mission: I am crafting an amazing note-taking mobile app, set to launch later
      this year, Stay turned for some exciting updates 🎉!
    </p>
  </div>
  <div class="banner-image">
    <img src="/assets/image/banner.svg" alt="Banner Image"/>
  </div>
</div>
<section>
  <div class="works">
    <div class="works-project">
      <ul class="project-lists">
        <h1>🧰 Projects</h1>
        <li>
          <a href="https://github.com/ningli3739" target="_blank">Data Lab Zone</a>
          <p>
            Developers can limit environment variables to specific scopes, such as builds only or functions only. They can also
            change the variable value based on the deploy context, including branch-specific values.
          </p>
        </li>
        <li>
          <a href="https://github.com/ningli3739" target="_blank">Personal Website</a>
          <p>
            Developers can now quickly connect a site on Netlify to an Azure DevOps repo. Their entire team can take advantage of
            the Netlify workflow, including: automated builds and deploys; deploy notifications; and collaboration on Deploy
            Previews.
          </p>
        </li>
      </ul>
    </div>
    <div class="works-current">
      <ul class="current-list">
        <h1>🔴 Now</h1>
        <li>
          Helping improve developer productivity and collaboration on Netlify
        </li>
        <li>
          Scheming about our garden this spring Working my way through a list
                                          of blog post ideas
        </li>
        <li>Running a small monthly writing group</li>
        <li>
          Re-exploring my drawing style and how I like to use various media
        </li>
      </ul>
    </div>
  </div>
</section>