<div class="banner">
  <div class="banner-text">
    <p>
      Hey there! I'am Ning, a passionate web developer and data science enthusiast! Proficient in HTML5, CSS3,
      JavaScript,
      {% ai "https://www.python.org/" %}Python{% endai %},
      {% ai "https://flask.palletsprojects.com/en/3.0.x/" %}Flask{% endai %}, {% ai "https://vuejs.org/" %}Vue{% endai %} and {% ai "https://www.r-project.org/" %}R{% endai %} .
    </p>
    <p>
      Currently, I am crafting an incredible e-commerce platform called
      <strong>Snack World</strong>, which will debut later this year. Stay turned for some exciting updates!</p>
  </div>
  <div class="banner-image">
    <img src="/assets/image/banner.svg" alt="Banner Image"/>
  </div>
</div>
<section>
  <div class="works">
    <div class="works-project">
      <ul class="project-lists">
        <h1>
          <i class="fa-solid fa-briefcase" style="color: #07bb25;"></i>
          Projects</h1>
        <li>
          {%- set count = 0 -%}
          {%- for project in collections.project | reverse -%}
            {%- if count < 2 -%}
              <a href="{{ project.data.github }}" target="_blank">{{ project.data.title }}</a>
              <p>
                {{ project.data.description }}
              </p>
              {%- set count = count + 1 -%}
            {%- endif -%}
          {%- endfor %}
          <p>
            <i class="fa-solid fa-angles-right" style="color:#a16399;"></i>
            <a href="/project">
              More Projects</a>
          </p>
        </li>
      </ul>
    </div>
    <div class="works-current">
      <ul class="current-list">
        <h1>
          <i class="fa-solid fa-circle-play" style="color: #ff0000;"></i>
          Now</h1>
        <li>Pursuing my second master's degree in applied computer science.</li>
        <li>Developing an online snack retail platform using Flask and deploying it to go live.</li>
        <li>Learning R programming language by practice.</li>
        <li>Honing my swimming skills.</li>
      </ul>
    </div>
  </div>
</section>