---
layout: 'base.njk'
---

<article class="article">
  <h1 class="article-title">{{ title }}</h1>
  <p class="article-description">{{ description }}</p>
  <h4 class="article-date">
    <i>Published on {{ date | postDate }} • 🍿 {{ content | readingTime }}. read</i>
    <ul>
      {% for categories in categories %}
        <li>
          <a href="/blog/{{ categories | slugify }}">#{{ categories }}</a>
        </li>
      {% endfor %}
    </ul>
  </h4>
  <img class="front-img" src="{{ image }}" alt="{{ imageAlt }}">
    {{ content | safe }}
  </article>
  <!-- Share Links -->
  {% include 'share-link.njk' %}
  <!--blog article pagination -->
  <!-- Back to Top Button -->
  {% include 'back-to-top.njk' %}
    <hr class="horizontal-line"> {% include 'blog-article-pagination.njk' %}
    <hr
      class="horizontal-line">
      <!--Giscus Commenting System -->
      {% include 'comment-system.njk' %}