---
layout: 'base.njk'
---

<article class="article">
  <h1 class="article-title">{{ title }}</h1>
  <h4 class="article-date">
    <i>{{ date | postDate }}</i>
    <ul>
      {% for categories in categories %}
        <li>
          <a href="/blog/{{ categories | slugify }}">{{ categories }}</a>
        </li>
      {% endfor %}
    </ul>
  </h4>
  {{ content | safe }}
</article>
<!-- Share Links -->
{% include 'share-link.njk' %}
<!-- Back to Top Button -->
{% include 'back-to-top.njk' %}
<hr>
  <!--Giscus Commenting System -->
  {% include 'comment-system.njk' %}