<script
  src="https://giscus.app/client.js"
  data-repo="NING3739/my-personal-website"
  data-repo-id="R_kgDOIYBxAA"
  data-category="Comments"
  data-category-id="DIC_kwDOIYBxAM4CS2io"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="0"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="dark_dimmed"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async="async"></script>