<nav class="navbar">
  <div class="nav-logo-name">
    <span class="logo"></span>
    <span class="name">
      <a href="/">NING&nbsp;LI</a>
    </span>
  </div>
  <div class="nav-items">
    <div class="item">
      <a href="/project">Projects</a>
    </div>
    <div class="item">
      <a href="/photos">Photos</a>
    </div>
    <div class="item">
      <a href="/blog">Blogs</a>
    </div>
    <div class="item">
      <a href="/info">Info</a>
    </div>
  </div>
</nav>