<div class="hobby-title">
  <h2>
    Things I Enjoy Most
  </h2>
</div>
<div class="hobby">
  <div class="music">
    <img
      loading="lazy"
      src="https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bXVzaWN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
      alt="music cover image">
    <h3>Music</h3>
    <p>My music taste is diverse, spanning various genres.
      <a href="https://open.spotify.com/playlist/37i9dQZF1EUMDoJuT8yJsl?si=a98e4aa8571c48d5">Enjoy the melodies!</a>
    </p>
  </div>
  <div class="movies">
    <img
      loading="lazy"
      src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
      alt="music cover image">
    <h3>Movies</h3>
    <p>
      I love to watch movies, especially those that are based on true stories.
      <a href="https://movie.douban.com/people/169167043/collect">Check it out!</a>
    </p>
  </div>
  <div class="books">
    <img
      loading="lazy"
      src="https://images.unsplash.com/photo-1618365908648-e71bd5716cba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
      alt="music cover image">
    <h3>Books</h3>
    <p>
      <a href="#">Satirical literature</a>
      is one of my favorite literary genres.
    </p>
  </div>
</div>