<div class="profile">
  <div class="profile-photo">
    <img src="/assets/image/info/profile.jpeg" alt="profile"/>
    <p>
      <a href="https://datalabzone.com/about.html#please-leave-your-valuable-comments">ln729500172@outlook.com</a>
    </p>
  </div>
  <div class="profile-intro">
    <p>
      Hi, I'm Ning, aka Barry, a potential frontend developer and a data science
      enthusiast.
    </p>
    <br>
    <p>For the past decade, I've been immersed in the world of accounting. However, over the years of studying, I discovered
      that this field was rather dull and not quite my cup of tea. By chance, I set up a personal website and stumbled upon my
      true interests.</p>
    <br>
    <p>Currently, I'm well-versed in HTML5, CSS3, JavaScript, Python, and R. I aspire to continually expand my knowledge
      base and look forward to collaborating with intriguing individuals.
    </p>
  </div>
</div>