<div id="share-buttons">
  <h3>
    <strong>Share<i class="fa-solid fa-bullhorn"></i>:</strong>
  </h3>
  <a class="twitter" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="reddit" target="_blank">
    <i class="fab fa-reddit"></i>
  </a>
  <a class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
  <a class="telegram" target="_blank">
    <i class="fab fa-telegram"></i>
  </a>
  <a class="weibo" target="_blank">
    <i class="fab fa-weibo"></i>
  </a>
</div>
<script src="/js/share-link.js"></script>