# dependencies installed by npm
node_modules

# macOS related files
.DS_Store

# viscose related files
.vscode

# firebase related files
.firebase
.firebaserc
firebase.json

# rendered site files
public

#image render cache
.cache
*.xml
*.iml
