body {
  background-color: #22284c;
}

/* Navigation Bar */
.navbar {
  background-color: lightgray;
  background: url(/assets/image/dark.svg);
}

.logo {
  background-color: #8cabff;
}

.name {
  background-color: #4477ce;
}

.name a {
  color: #f2f2f2;
}

.item {
  background-color: #9db2bf;
}

.item:hover {
  background-color: #c7c0c2;
}

.item a {
  color: black;
}

.item a:hover {
  color: #255b0c;
}

/* Navigation Bar Media Queries */
@media (max-width: 768px) {
  .item {
    background-color: #9db2bf;
  }
}

/* Banner */
.banner {
  background-color: #053e5f;
}

.banner-text {
  color: #f8f8f2;
}

.banner-text a {
  color: #47ab18;
}

.banner-image {
  background-color: #2e4280;
}

/* Work Section */
.works {
  color: #f8f8f2;
  background-color: #83a4e729;
}

.project-lists li a {
  color: #47ab18;
}

hr {
  border: 1px solid #507def;
}

@media (max-width: 429px) {
  .works {
    background-color: #83a4e729;
  }
}

/* Blog heading */
.blogs h1 {
  color: #f8f8f2;
}

.card a {
  color: #47ab18;
}

.card p {
  color: #f8f8f2;
}

/* Footer */
.footer-left-upper {
  background-color: #9db2bf;
}

li a,
p a {
  color: #255b0c;
}

li a:hover,
p a:hover {
  background-color: #dbd2d2;
}

.footer-left-lower {
  color: #8cabff;
  background-color: #8cabff;
  border-bottom: 60px solid #8cabff;
}

.footer-right-lower {
  background-color: #9db2bf;
  border-bottom: 30px solid #9db2bf;
}

.footer-right-upper {
  color: #8cabff;
  background-color: #8cabff;
  border-bottom: 61px solid #8cabff;
}

.footer-middle {
  background-color: #4477ce;
}

.middle-footer-title,
.middle-footer-email {
  color: #f8f8f2;
}

.middle-footer-email a {
  color: #f8f8f2;
}

.fab.fa-github {
  color: #333;
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-mastodon {
  color: #6e23c8;
}

.fab.fa-instagram {
  color: #c93232;
}

/* Footer Media Queries */
@media screen and (max-width: 801px) {
  .footer-left-lower,
  .footer-right-upper {
    display: none;
  }

  .footer-left-upper {
    background-color: #22284c;
  }

  .left-upper-title {
    color: #d1dab3;
  }

  .left-upper-items a {
    color: #47ab18;
  }

  .footer-right-lower {
    background-color: #9db2bf;
    border-bottom: 30px solid #9db2bf;
  }
}

/* Blog Title */

.blog-title h1 {
  color: #f8f8f2;
}

.blog-title p {
  color: #f8f8f2;
  background-color: #2051ab;
}

.blog-title p a {
  color: #f8f8f2;
}

.blog-title p a:hover {
  color: #f8f8f2;
}

.blog-title p a:visited {
  color: #f8f8f2;
}

.categories h3 {
  color: #f8f8f2;
}

.categories a {
  color: #47ab18;
}

/* Article */
.article {
  color: #f8f8f2;
}

.article-date a {
  color: #47ab18;
}
/* Project Container */
.project-container {
  color: #f8f8f2;
  background-color: #0a1a42;
}

.projects-description .fab.fa-github {
  color: #f8f8f2;
}

.project-container a {
  color: #47ab18;
}

/* Photos - Masonry Layout */

.photo-info {
  background-color: #0a1a42;
}

.modal-close {
  background-color: #9db2bf;
  color: #33069e;
}

.photo-info p {
  color: #f8f8f2;
}

/* Profile */

.profile-photo a {
  color: #f8f8f2;
}

.profile-photo a:hover {
  background-color: #47ab18;
}

.profile-intro {
  background-color: #0a1a42;
}

.profile-intro p {
  color: #f8f8f2;
}

/* 404 Page */
.error-container h1 {
  color: #f8f8f2;
}

.error-container p {
  color: #f8f8f2;
}

.error-container a {
  color: #47ab18;
}

/* Pagination */
.pagination {
  margin-bottom: 20px;
}

.pagination a {
  background-color: #f2f2f2;
  color: #333;
}

.pagination a:hover {
  background-color: #aba2a2;
}

/* archive page */
.archive {
  color: #f8f8f2;
  background-color: #0a1a42;
}

.archive a {
  color: #47ab18;
}

/* article back to top */
#back-to-top {
  color: #4477ce;
}

#back-to-top:hover i {
  color: #9db2bf;
}

/* share-link */

#share-buttons h3 {
  color: #47ab18;
}

/* blog-category */

.blog-category-title {
  color: #f8f8f2;
}

.blog-category-list {
  background-color: #0a1a42;
}

.blog-category-list a {
  color: #47ab18;
}

.blog-category-list i {
  color: #f8f8f2;
}

/* hobby */
.hobby-title,
.hobby h3,
.hobby p {
  color: #f8f8f2;
}

.hobby a {
  color: #47ab18;
}
