/* font family */

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base styles */
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p,
li {
  font-family: "Roboto Slab", serif;
}

i {
  font-family: "Nunito Sans", sans-serif;
}

@font-face {
  font-family: "AlimamaAgileVF-Thin";
  src: url("/assets/fonts/AlimamaAgileVF-Thin.woff2") format("woff2"),
    url("/assets/fonts/AlimamaAgileVF-Thin.woff") format("woff");
}

body {
  width: 75%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1280px) {
  body {
    width: 100%;
  }
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-size: 8px 8px !important;
}

.nav-logo-name {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo,
.name {
  height: 100%;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.name {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

.name a {
  text-decoration: none;
  font-family: "AlimamaAgileVF-Thin";
  font-size: xx-large;
}

.name a:hover {
  text-decoration: underline;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px);
  width: 380px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.item a {
  text-decoration: none;
  font-family: "AlimamaAgileVF-Thin";
}

.item a:hover {
  text-decoration: underline;
}

/* Navigation Bar Media Queries */
@media (max-width: 766px) {
  body {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-logo-name,
  .nav-items {
    width: 100%;
  }

  .nav-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    width: 100%;
  }

  .item {
    width: 100%;
  }
}

/* Banner */
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  flex: 1;
  padding: 40px;
}

.banner-text p {
  font-size: 24px;
  margin-bottom: 60px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Banner Media Queries */
@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .banner {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  .banner-text {
    text-align: center;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .banner-image img {
    display: none;
  }
}

@media (max-width: 400px) {
  .banner-image img {
    display: none;
  }
}

/* Work Section */
.works {
  width: 100%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.works h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.works-project {
  flex: 1;
  height: auto;
  padding-left: 40px;
  padding-right: 50px;
}

.project-lists li {
  list-style-type: none;
  margin-bottom: 20px;
}

.project-lists li a {
  font-weight: bold;
}

.project-lists li p {
  margin-bottom: 20px;
}

.works-current {
  flex: 1;
  height: auto;
  padding-left: 50px;
  padding-right: 40px;
}

.current-list li {
  margin-bottom: 10px;
}

li::marker {
  font-size: 1rem;
  font-weight: bolder;
}

hr {
  display: flex;
  justify-content: center;
  margin: 0 auto 70px;
  width: 95%;
}

@media (max-width: 431px) {
  .works {
    display: grid;
  }

  .works-current {
    margin-bottom: 30px;
  }

  li::marker {
    font-size: 1.5rem;
  }
}

/* Blog Section */
.blogs {
  width: 100%;
  margin-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Blog heading */
.blogs h1 {
  margin-bottom: 20px;
}

/* Blog cards container */
.blogs-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Individual card */
.card {
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 0;
  transition: border-radius 200ms ease-in;
}

.card:hover img {
  border-radius: 35px 0 35px 0;
}

.card a {
  display: flex;
  text-decoration: underline;
  font-weight: bold;
  font-family: "AlimamaAgileVF-Thin";
}

.card p {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

/* Card Media Queries */
@media (max-width: 1000px) {
  .card {
    width: 49%;
  }

  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
  }
}

/* Footer */
.footer-container {
  display: flex;
}

.footer-left,
.footer-middle,
.footer-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex: 1;
}

.footer-left {
  position: relative;
}

.footer-right {
  position: relative;
}

.footer-left-upper,
.footer-left-lower,
.middle-footer-title,
.middle-footer-email,
.contact-icons,
.footer-right-upper,
.footer-right-lower {
  width: 100%;
}

.footer-left-upper,
.footer-right-lower {
  flex: 1;
}

.footer-left-lower,
.footer-right-upper {
  flex: 1;
}

.left-upper-items {
  list-style: none;
  padding: 0;
  columns: 2;
  -webkit-columns: 2;
  column-gap: 20px;
  padding: 20px;
}

.left-upper-items li {
  margin-bottom: 5px;
}

.footer-left-upper {
  padding-top: 20px;
  padding-bottom: 69px;
}

li a,
p a {
  font-family: "AlimamaAgileVF-Thin";
}

.footer-middle {
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-footer-title,
.middle-footer-email {
  margin-bottom: 10px;
}

.middle-footer-email a {
  text-decoration: none;
}

.middle-footer-email a:hover {
  background-color: #47ab18;
}

.middle-footer-title {
  font-family: "AlimamaAgileVF-Thin";
}

.middle-footer-email {
  font-family: "AlimamaAgileVF-Thin";
}

.contact-icons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon-link {
  margin: 0 5px;
  text-decoration: none;
}

.fab.fa-github:hover,
.fab.fa-twitter:hover,
.fab.fa-mastodon:hover,
.fab.fa-instagram:hover {
  color: #020600;
}

#auto {
  color: #e55c17;
  background-color: grey;
}

#auto:hover {
  color: #030100;
  background-color: white;
}

#light {
  background-color: #d1dab3;
}

#light:hover {
  background-color: white;
}

#dark {
  color: white;
  background: #030100;
}

#dark:hover {
  color: #030100;
  background: white;
}

.right-lower-title {
  padding: 20px;
  order: 2;
}

.left-upper-title,
.middle-footer-title,
.right-lower-title,
.color-mode-button {
  text-transform: uppercase;
}

/* Footer Media Queries */
@media screen and (max-width: 801px) {
  body {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    display: flex;
    flex-direction: column;
  }

  .footer-left {
    order: 2;
    margin-bottom: 10px;
  }

  .footer-left-upper {
    padding: 50px 0 40px 0;
  }

  .footer-middle {
    order: 1;
  }

  .footer-right {
    order: 3;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    flex-basis: auto;
  }

  .footer-left,
  .footer-middle {
    display: flex;
    flex: 1;
  }

  .footer-right {
    order: 3;
  }
}

/* Blog Title */
.blog-title {
  margin: 70px;
}

.blog-title h1 {
  text-align: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.blog-title img,
.blog-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card img {
  border-radius: 10px;
}

.blog-title p {
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .blog-title p {
    width: 100%;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories ul li {
  margin-right: 10px;
  font-weight: bold;
}

.categories a {
  text-decoration: none;
}
/* categories Media Queries */
@media (max-width: 768px) {
  .categories {
    flex-direction: column;
  }

  .categories h3 {
    margin-bottom: 10px;
  }
}

/* Article */
.article {
  margin: 30px 100px 70px 100px;
}

.article p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}

.article-description {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
}

.front-img {
  width: 100%;
  max-height: 550px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 30px;
}

.article-title {
  font-size: 2rem;
  font-weight: 400;
}

.article-title,
.article-date {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.article-date {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-date i {
  margin-right: 10px;
  margin-bottom: 30px;
}

.article-date ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.article-date ul li {
  margin-right: 5px;
  text-transform: capitalize;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 1em 10px 0.1em;
}

.article-pagination {
  margin: 30px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.article-pagination a {
  text-decoration: none;
}

.article-pagination a:hover {
  text-decoration: underline;
}

.horizontal-line {
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 431px) {
  .article,
  .article-pagination {
    margin: 30px 40px 30px 40px;
  }
  .article-date,
  .article-date ul li {
    font-size: small;
  }
}

/* Project Container */
.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 70px 40px;
  padding: 50px;
  margin-bottom: 70px;
  border-radius: 10px;
  transition: border-radius 200ms ease-in;
}

.project-container:hover {
  border-radius: 35px 0 35px 0;
}

.projects-description {
  flex: 1;
  padding: 20px;
}

.projects-description h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "AlimamaAgileVF-Thin";
}

.projects-description i {
  text-transform: capitalize;
  font-weight: bold;
}

.projects-description p {
  margin-top: 20px;
}

.projects-description a {
  text-decoration: underline;
}

.projects-image {
  flex: 1;
  padding: 20px;
}

.projects-image img {
  width: 300px;
  height: 200px;
  margin-left: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: border-radius 200ms ease-in;
}

.projects-image img:hover {
  border-radius: 35px 0 35px 0;
}

/* Project Media Queries */
@media screen and (max-width: 1200px) {
  .project-container {
    display: grid;
  }

  .projects-image img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    display: grid;
    padding: 0;
    .projects-image img {
      display: none;
    }
  }
}

/* masonry layout */
.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 40px 70px 40px;
}

.masonry-item {
  display: flex;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  break-inside: avoid;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.photo-container {
  position: relative;
}

.photo-container img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
  transition: border-radius 200ms ease-in;
}

.photo-container img:hover {
  border-radius: 35px 0 35px 0;
}

.photo-info {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
}

.photo-info p {
  font-size: 12px;
}

.photo-container {
  position: relative;
  cursor: pointer;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

/* layout for modal image */
.modal-img {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 110%;
  object-fit: contain;
}

.modal-img:target {
  display: block;
}

.modal > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* close button layout */
.modal-close {
  text-decoration: none;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background shadow */
.modal-backdrop {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-img:target ~ .modal-backdrop {
  display: block;
}

/* Photo Media Queries */
@media (max-width: 768px) {
  .photo-container img {
    border-radius: 10px;
    /* width: 100%; */
    height: auto;
    display: block;
    transition: border-radius 200ms ease-in;
  }

  .masonry {
    margin: 0 30px 30px 30px;
  }

  .masonry-item {
    flex-basis: calc(50% - 20px);
  }

  .modal-img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 431px) {
    .photo-container img {
      border-radius: 10px;
      height: auto;
      display: block;
      transition: border-radius 200ms ease-in;
    }

    .masonry-item {
      flex-basis: calc(100% - 20px);
    }

    .modal-img {
      display: none !important;
    }

    .modal-backdrop {
      display: none !important;
    }
  }
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 40px 80px 40px;
}

.profile-photo {
  text-align: center;
  margin-right: 30px;
}

.profile-photo img {
  width: 490px;
  height: auto;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%);
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
  transition: transform 0.4s ease-in-out;
}

.profile-photo img:hover {
  transform: scale(0.95);
}

.profile-photo p {
  margin-top: 25px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.profile-intro {
  flex: 1;
  margin-left: 10px;
  padding: 30px;
  border-radius: 10px;
}

.profile-intro p {
  text-align: left;
  line-height: 40px;
}

/* Profile Media Queries */
@media (max-width: 1000px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-photo {
    text-align: center;
    margin-left: 30px;
  }

  .profile-photo img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .profile-intro {
    margin: 20px 0;
    padding: 30px;
  }
}

/* hobby */
.hobby-title h2 {
  margin: 0 40px 0 40px;
}
.hobby {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.music,
.movies,
.books {
  flex: 1;
  text-align: start;
}

.hobby img {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%);
}

.hobby img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 80%);
}

.hobby p {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .hobby {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* 404 Page */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-container img {
  width: 50%;
  height: 50%;
}

.error-container h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

.error-container p {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
  font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 400px) {
  .error-container h1 {
    text-align: center;
    margin: 20px;
  }

  .error-container p {
    text-align: center;
    padding: 10px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* archive page */
.archive {
  margin: 30px;
  padding: 30px;
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
}

.archive-list {
  height: 100vh;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
}

.archive-list h2 {
  display: flex;
  justify-content: center;
}

.archive a {
  font-weight: bold;
  font-family: "AlimamaAgileVF-Thin";
  text-decoration: none;
}

.archive-project-list h2,
.archive-blog-list h2 {
  margin-bottom: 20px;
}

.archive-project-list li,
.archive-blog-list li {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .archive-list {
    display: grid;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 431px) {
  li::marker {
    font-size: 1rem;
  }
}

/* article back to top */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 7.5%;
  padding: 10px;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

#back-to-top i {
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1279px) {
  #back-to-top {
    display: none !important;
  }
}

/* share-link */
#share-buttons {
  display: flex;
  justify-content: start;
  height: 8vh;
  align-items: first baseline;
  margin: 30px 100px 0 100px;
}

#share-buttons i {
  font-size: 20px;
  margin: 10px;
}

#share-buttons h3 {
  text-transform: uppercase;
}

.twitter {
  color: #55acee;
}

.reddit {
  color: #cb2027;
}

.whatsapp {
  color: #25d366;
}

.telegram {
  color: #229ed9;
}

.weibo {
  color: #e6162d;
}

.twitter,
.reddit,
.whatsapp,
.telegram,
.weibo {
  opacity: 0.6;
}

.twitter:hover,
.reddit:hover,
.whatsapp:hover,
.telegram:hover,
.weibo:hover {
  opacity: 0.9;
}

@media (max-width: 431px) {
  #share-buttons {
    margin: 30px 40px 70px 40px;
  }
}

/* blog-category */
.blog-category {
  display: grid;
  padding: 20px;
  margin: 40px 0 40px 0;
}

.blog-category-title {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}

.blog-category-list {
  padding: 20px;
  text-transform: capitalize;
  height: 100vh;
  padding: 30px;
  border-radius: 34% 60% 42% 72%/71% 40% 60% 40%;
}

.blog-category-list li {
  font-weight: bold;
  font-family: "AlimamaAgileVF-Thin";
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.blog-category-list i {
  text-transform: capitalize;
}

.blog-category-list a {
  text-decoration: none;
}

/* blog category Media Queries */
@media (max-width: 768px) {
  .blog-category-title {
    font-size: large;
  }

  .blog-category-list li {
    justify-content: space-between;
  }
}

@media (max-width: 431px) {
  .blog-category-list {
    font-size: small;
  }
}

/* Giscus Commenting System */
.giscus {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media (max-width: 400px) {
  .giscus {
    width: 90%;
  }
}
