body {
  background-color: #f2ece9;
}

/* Navigation Bar */
.navbar {
  background-color: lightgray;
  background: url(/assets/image/light.svg);
}

.logo {
  background-color: #e55c17;
}

.name {
  background-color: #c93232;
}

.name a {
  color: white;
}

.item {
  background-color: #d9d9d9;
}

.item:hover {
  background-color: #c7c0c2;
}

.item a {
  color: black;
}

.item a:hover {
  color: #275b0e;
}

/* Navigation Bar Media Queries */
@media (max-width: 768px) {
  .item {
    background-color: #d9d9d9;
  }
}

/* Banner */
.banner {
  background-color: #c932321a;
}

.banner-text a {
  color: #275b0e;
}

.banner-image {
  background-color: #c93232;
}

/* Work Section */
.works {
  background-color: #f8b8b829;
}

.project-lists li a {
  color: #275b0e;
}

hr {
  border: 1px solid #ec3a1f;
}

@media (max-width: 429px) {
  .works {
    background-color: #f2ece9;
  }
}

.card a {
  color: #275b0e;
}

.card p {
  color: black;
}

/* Footer */

.footer-left-upper {
  background-color: #d9d9d9;
}

li a,
p a {
  color: #275b0e;
}

li a:hover,
p a:hover {
  background-color: white;
}

.footer-left-lower {
  color: #e55c17;
  background-color: #e55c17;
  border-bottom: 60px solid #e55c17;
}

.footer-right-lower {
  background-color: #d9d9d9;
  border-bottom: 30px solid #d9d9d9;
}

.footer-right-upper {
  color: #e55c17;
  background-color: #e55c17;
  border-bottom: 61px solid #e55c17;
}

.footer-middle {
  background-color: #c93232;
}

.middle-footer-title,
.middle-footer-email {
  color: white;
}

.middle-footer-email a {
  color: white;
}

.fab.fa-github {
  color: #333;
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-mastodon {
  color: #6e23c8;
}

.fab.fa-instagram {
  color: #c7c0c2;
}

/* Footer Media Queries */
@media screen and (max-width: 801px) {
  .footer-left-lower,
  .footer-right-upper {
    display: none;
  }

  .footer-left-upper {
    background-color: #f2ece9;
  }

  .footer-right-lower {
    background-color: #c7c0c2;
    border-bottom: 30px solid #c7c0c2;
  }
}

/* Blog Title */
.blog-title p {
  background-color: #f3d9e7;
}

.blog-title p a {
  color: #000;
}

.blog-title p a:hover {
  color: #000;
}

.blog-title p a:visited {
  color: #000;
}

/* Project Container */
.project-container {
  background-color: #f9d5d5;
}

/* Photos - Masonry Layout */
.photo-info {
  background-color: #c7c0c2;
}

.photo-info p {
  color: #000;
}

/* Profile */

.profile-intro {
  background-color: #f3d9e7;
}

/* 404 Page */
.error-container h1 {
  color: black;
}

.error-container p {
  color: #333;
  background-color: #f3d9e7;
}

/* Pagination */

.pagination a {
  background-color: #f2f2f2;
  color: #333;
}

.pagination a:hover {
  background-color: #ddd;
}

/* archive page */
.archive {
  background-color: #f3d9e7;
}

/* article back to top */
#back-to-top {
  color: #e10f0f;
}

#back-to-top:hover i {
  color: #275b0e;
}

/* share-link */

#share-buttons h3 {
  color: #275b0e;
}

/* blog-category */

.blog-category-list {
  background-color: #f3d9e7;
}
