---
layout: 'base.njk'
title: 404
description: 'Page not found'
permalink: 404.html
---

<div class="error-container">
  <h1>Sorry, this page couldn't be found</h1>
  <p>
    You might have stumbled upon content that was since deleted or moved. You may want to check out
    <a href="/blog">my blog</a>
    or
    <a href="/project">personal projects</a>. Otherwise, you can
    <a href="/">return home</a>.
  </p>
</div>
<hr>