---
title: Archive
layout: 'base.njk'
description: The list of past projects and posts.
---

<div class="blog-title">
  <h1>
    <img src="/assets/favicon/archive.svg" alt="favicon">
      &nbsp;{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  {% include 'archive-list.njk' %}
  <hr>